#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splashpage-whole-main {
  font-family: 'Poppins', sans-serif;
  background-color: #f4ede4;
  height: vh100;
}

.splashpage-first {
  display: grid; 
  grid-column-gap: 5%;
  grid-template-columns: 40% 55%;
  align-items: center;
  justify-items: self-end;
  background-color: #f4ede4;
  padding-top: 20px;
}

.splashpage-first-illuistration {
  justify-content: center;
  display: flex;
  align-items: flex-start;
}

.img-container {
  min-width: 294px;
  min-height: 400px;
}

.splashpage-first-header {
  text-align: left;
  width: 100%;
}

.splashpage-first-bigtitle {
  font-family: sans-serif;
  position: relative;
  min-height: 100px;
  font-size: 56px;
  font-weight: bold;
  left: 4%;
  line-height: 60px;
}

.splashpage-first-text {
  position: relative;
  z-index: 2;
  padding-top: 10px;
  left: 4%;
  font-size: 20px;
  max-width: 500px;
  line-height: 27px;
}

.splash-signup-link {
  position: relative;
  z-index: 2;
  font: 14px sans-serif;
  font-weight: 500;
  color: white;
  left: 5%;
  margin-top: 20px;
  padding: 20px 40px;
  background-color: #611f69;
  margin-right: 1%;
  border-radius: 5px;
  text-decoration: none;
}

.demo-signup-link {
  position: relative;
  z-index: 2;
  font: 14px sans-serif;
  font-weight: 500;
  color: #611f69;
  left: 5%;
  margin-top: 20px;
  padding: 20px 40px;
  background-color: #E5E1DC;
  margin-right: 8%;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #611f69;
  
}

.splash-already-sign-in {
  position: relative;
  z-index: 2;
  font-size: 14px;
  padding-top: 30px;
  padding-left: 6%;
  line-height: 20px;
}

.splash-signup-link:hover {
  background-color: #4a154b;
}

.demo-signup-link:hover {
  border: 2px solid #611f69;
  padding: 19px 39px;
}

.splashpage-second {
  text-align: center;
  min-height: 200px;
  width: 100%;
  background-color: #4a154b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splashpage-second-title {
  padding-top: 25px;
  font-size: 48px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}

.splashpage-second-text {
  font-size: 18px;
  padding-top: 25px;
  color: white;
}

.splashpage-third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.splashpage-third {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: sans-serif;
  padding: 1.5rem;
  justify-items: self-end;
  grid-gap: 1rem 2.4%;
}

.third-col {
  padding-top: 30px;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 20px;
}

.splash-col-title {
  padding-top: 24px;
  padding-bottom: 22px;
  font-size: 20px;
  font-weight: bold;
}

.splash-col-content {
  position: relative;
  font-size: 1.125rem;
  max-width: 476px;
  line-height: 1.4;
}

.splashpage-footer {
  background-color: #4a154b;
  width: 100%;
}

.splashpage-footer-container {
  text-align: center;
  min-height: 300px;
  width: 100%;
  background-color: #4a154b;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channel-logo-footer {
  height: 80px;
}

.footer-text {
  color: oldlace;
  font-size: 54px;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  padding-top: 10px;
}

.footer-buttons {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  width: 100%;
}

.footer-signup-link {
  color: #4a154b;
  background-color: oldlace;
  text-decoration: none;
  padding: 15px 30px;
  border: solid 1px oldlace;
  border-radius: 5px;
  font-weight: bold;
}

